html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#131132;
    scroll-behavior: smooth;
}

#hero-img{
    height: 70%;
}



#logo{
    font-weight: bold;
    font-size: 24px;
    color: #fb6ff4;
    margin-left: 15px;
    text-shadow: 2px 2px 4px #f7cce9;
}
#hero-h12{
    color: #f734da;
    text-shadow: 5px 4px 8px #d19bbf;
    margin-top: 15px;
}
#hero-h11{
    text-shadow: 3px 2px 8px #d19bbf;
}
#hero-p{
    font-weight: bold;
    color: #863079;
}

#hero-btn{
    margin-top: 20px;
    background-color: #f0922f;
    border: none;
}

#about-img {
  max-width:90%;
}
#about-h2 {
    color: #ee5fbc;
  font-weight: bold;
  font-size: 30px;
  margin-top: 15px;
}
#about-h22 {
  color: #c22cf0;
  font-weight: bold;
}
#about-p1 {
  font-size: 20px;
  font-weight: 900;
    color: #c3afc3;
    margin-top: 10px;

}


#about-btn {
  margin-top: 20px;
  background-color: #f0922f;
  color: white;
  border: none;

  
}

.card img {
  max-height: 60px;
}
#card-tittle {
  font-size: 20px;
  font-weight: bold;
  color: #d63384;
}




/* ---------------------------style for card------- */
.col .card .card-img-top {
    width: 100% !important;
    height: 100px !important;
    min-height: 130px !important;
    object-fit: cover !important;
    object-position: center top !important;
}
.card {
    border: none !important;
    border-radius: 15px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease !important;
    padding: 20px !important;
    background-color: #f1eeee !important;
}




.card:hover {
    transform: translateY(-10px) !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8) !important;
}
.card-body {
    text-align: center !important;
}
.card-title {
    font-size: 1.5rem !important;
    font-weight: bold !important;
    color: #687fe6 !important;
}
.card-text {
    font-size: 1rem !important;
    color: #575353 !important;
}
/*------------------------end of style for card------- */

/* -------- Contact Section Style -------- */
#contact-section {
    background-color: #fdf7ff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}
#contact-tittle h3 {
    color: #d63384;
    font-weight: bold;
}
#contact-tittle p {
    color: #6c757d;
    font-size: 16px;
    font-weight: 500;
}
/* -------- End of Contact Section Style -------- */


.logo-letter {
  font-size: 30px;      /* increase size */
  color: #ea3ff7;       /* change color */
  font-weight: bold;    /* make it bold */
  
}


/*-------------navbar----------------*/
/* Navbar background */

:root {
  --primary: #00e6e6;
  --dark: #0f2027;
  --dark-light: #203a43;
  --white: #ffffff;
  --muted: #cfd8dc;
  --dark-primary: #0F2027;

}

.carvaan-navbar {
  background-color:#131132;
  padding: 14px 0;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
 
}

.carvaan-logo {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

.carvaan-logo span {
  color: var(--primary);
  font-size: 34px;
}

.navbar-nav .nav-link {
  color: rgb(255, 255, 255) !important;
  margin: 0 12px;
  font-size: 16px;
  position: relative;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--primary);
  left: 50%;
  bottom: -6px;
  transition: 0.3s;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
  left: 0;
}

.navbar-nav .nav-link.active {
  color: var(--primary) !important;
}




/*    hero-----------------*/
.hero-section {
  background-color: #E59832;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

.hero-title span {
  color: var(--primary);
}

.hero-text {
  margin-top: 20px;
  font-size: 17px;
  color: var(--muted);
  max-width: 500px;
}

.hero-buttons {
  margin-top: 30px;
}

.hero-btn-primary {
  background: var(--primary);
  color: var(--dark);
  padding: 12px 26px;
  border-radius: 30px;
  font-weight: 600;
  margin-right: 15px;
}

.hero-btn-outline {
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 12px 26px;
  border-radius: 30px;
  font-weight: 600;
}

.hero-btn-outline:hover {
  background: var(--primary);
  color: var(--dark);
}

.hero-img-shadow {
  display: inline-block;
 filter: drop-shadow(0px 30px 60px rgba(123, 40, 114, 0.75));

  
}



.hero-img {
  max-height: 60vh;
  width: auto;
  animation: float 4s ease-in-out infinite;
}


@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0); }
}

/* Mobile */
@media (max-width: 768px) {
  .hero-title {
    font-size: 36px;
  }
}



#contact-submit{
    background-color: #f0922f;
}

/*-----------------hero left-------------------*/
.left-hero {
  
  border-radius: 50px;

  box-shadow:
    0 0 0 2px rgba(37, 36, 36, 0.15),
    0 0 25px rgba(128, 128, 128, 0.25);

  padding: 40px;
}

.left-hero:hover {
  transform: translateY(-4px);
  box-shadow:
    0 0 0 1.5px rgba(53, 48, 48, 0.1),
    0 18px 40px rgba(123, 123, 123, 0.18);
}
.left-hero {
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .left-hero {
    margin-top: 50px;   /* pushes it down */
  }
}
